body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba(161, 71, 236, 0.05);

  /* Custom Scrollbar */
  scrollbar-color: rgba(161, 71, 236, 0.05) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: .5rem;
    background: transparent;

    &-thumb {
      background: rgba(161, 71, 236, 0.3);
      border-radius: .5rem;

      &:hover {
        background: rgba(161, 71, 236, 0.6);
      }
    }
  }
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media only screen and (max-width: $xl) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: $lg) {
  .container {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: $md) {
  .container {
    max-width: 100%;
    padding: 0 0.4rem;
  }
}
